---
import TagList from "../components/TagList.astro";
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
const date = new Date(frontmatter.date);

---

<MainLayout pageTitle = {frontmatter.title} tags= {frontmatter.tags}>
  <h1><span class="underline">{frontmatter.title}</span></h1>
  <p>Published on: {date.toLocaleDateString()}</p>
  <TagList tags = {frontmatter.tags}/>
  <hr>
  <slot />
  <hr>
</MainLayout>
